
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
  margin: 0px;
  padding: 0px;
}

/* shared styles start here */
.title{
  font-family: 'Merriweather';
}

/* Header Styles Start Here */
header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), 
              url('../images/Banner\ Image.png');
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 170px 0px 170px;
  color: white;
  font-family: 'Merriweather',sans-serif;
  border-radius: 18px;
  
}
.header-content{
  text-align: center;
  width: 100%;
  background-size: cover;
}
.header .title{
  font-weight: 900;
  line-height: 95px;
  font-size: 72px;
}
.header p{
  font-size: 32px;
  margin-bottom: 16px;
}

/** Main section style starts here **/

/* section-1 styles */

#section-1{
  margin: 120px 399px;
  font-family: 'inter', sans-serif;
  
}
.discount{
  font-weight: bold;
  text-align: center;
  font-size: 88px;
  color: #FF0000;

}
.section1-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section1-content h3{
  margin-top: 48px;
  font-size: 24px;
  font-weight: 500;
  color: #FF0000;

}
.section1-content h1{
  font-weight: bold;
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 48px;
}

/* section-2 styles */
#section-2{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/Vectorrr.png);
  height: 500px;
  display: flex;
  justify-content: right;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 50px 170px 120px 170px;
  padding: 130px 550px 0px 128px;
  border-radius: 16px;
}
#section-2 h1{
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 88px;
  
}
#section-2 p{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
}
#section-2 a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 48px;
}